import { chakra, HTMLChakraProps } from '@chakra-ui/system'

export type {{pascalCase name}}Props = {
  children?: React.ReactNode
} & HTMLChakraProps<'div'>

export const {{pascalCase name}} = ({ ...props }: {{pascalCase name}}Props) => {
  return (
    <chakra.div {...props}>
      <h1>{{pascalCase name}}</h1>
    </chakra.div>
  )
}
